[submodule "Cpp-Projects"]
	path = Cpp-Projects
	url = https://github.com/Aakash-Tamboli/Cpp-Projects.git
[submodule "javascript"]
	path = javascript
	url = https://github.com/Aakash-Tamboli/javascript.git
[submodule "shell-script"]
	path = shell-script
	url = https://github.com/Aakash-Tamboli/shell-script.git
